*{
    margin: 0;
    box-sizing: border-box;
}

.nav-item a:hover{
    color: #2FA19E;
} 

.bg-logo{
    padding-right: 20px;
    width: 200px;
    height: 150px;
}
.display{
    color: #2FA19E;
}
 /* slider */

.d-block{
  height: 450px;
}

/* featured product */

.featured_img{
  /* width: 200px;
  justify-content: center;
  align-items: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 250px;
 
}

.featured_price{
  color: red;
  display: block;
  text-align: center;
  justify-content: center;

}

/* category image */

.category_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 150px;
}
.category_img:hover{
    transform: scale(1.1);
}

.product{
    padding-top: 12px;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
}
.product:hover{
    
     transition: 0.6ms;
    transform: scale(1.1); 
}
.cart_btn:hover{
    text-decoration: none;
    color: white;
   background-color:#a0cecf; 
}
.cart_btn{
    background-color:  #5FC3C6;
    color: rgb(0, 0, 0);
    padding: 10px;

}

/* TOP SELLINg */
.newPrice{
    color: red;
    font-size: 20px;
}

.topSelling {
    box-shadow: 2px 2px 2px 5px rgb(203, 196, 196);
  color: black;
  font-size: 15px;
  text-transform: capitalize;

}
.topSelling_img:hover{
    cursor: pointer;
    transform: scale(0.9); 

}
/* 
certification */
.certified_img{
    width: 100px;
}

.certified_img:hover{
    cursor: pointer;
    transform: scale(1.1); 
}





/* 
footer */

/* footer input */
.foot{
    border-radius: 20px;
}
/* 
footer_btn */
.footBtn{
    border: 1px solid gainsboro;
    border-top-right-radius: 20px 20px;
    

}

.footer_menu{
    font-size: 20px;
    padding-bottom: 20px;
}
.footer_menu a{
    text-decoration: none;
    color: black;
}
.footer_menu a:hover{
    color: #5FC3C6;
}

.last_para:hover{
    cursor: pointer;
}

.last_para i{
    font-size: 25px;
}

.follow{
    font-size: 20px;
}

.follow i{
    font-size: 25px;
    padding-right: 1pc;
}


.follow i:hover{
    cursor: pointer;
    box-shadow:  2px 2px 20px solid gray;
    color: #5FC3C6;
    transition: 0.5s ease;
    transform: scale(1.2);
}

.foot_bottom {
    background-color:#5FC3C6;
}


